{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clienttypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Score</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clientType in clientTypes %}
            <tr>
                <td><a href="{{ path('clienttype_show', { 'id': clientType.id }) }}">{{ clientType.id }}</a></td>
                <td>{{ clientType.name }}</td>
                <td>{{ clientType.score }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clienttype_show', { 'id': clientType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('clienttype_edit', { 'id': clientType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clienttype_new') }}">Create a new clientType</a>
        </li>
    </ul>
{% endblock %}
