{% extends 'MainBundle:Default:base1.html.twig' %}
{% block css %}
    <!-- summernote CSS
            ============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/summernote/summernote.css">
{% endblock %}
{% block body %}
    <h1>Competition creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('competition_index') }}" class="btn btn-custon-four btn-default">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <!-- summernote JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/summernote/summernote.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#mainbundle_competition_descriptionCompetition').summernote({
                height: 200,
            });
        });
    </script>
{% endblock %}