{% extends 'GestEventBundle:Default:base2.html.twig' %}

{% block init %}
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}
    <h1>Confirmer</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('participationevent_index') }}">Back to the list</a>
        </li>

    </ul>
    <h3>{{ id }}</h3>
{% endblock %}
