{% extends 'GestEventBundle:Default:base2.html.twig' %}

{% block init %}
{% endblock %}

{% block header %}
{% endblock %}
{% block body %}


<br><br>

    <h3 class="text-warning">Vous avez déja inscrit à l'évenements!</h3><br><br>
    <a class="btn btn-outline-primary" href="{{ path('user_homepage') }}">Acceuil</a>
            <!--<li>
            <a href="{#{{ path('participationevent_edit', { 'id': participationEvent.id }) }}#}">Edit</a>
        </li>-->
            <!--<li>
           {# {{ form_start(delete_form) }}#}
                <input type="submit" value="Annuler">
            {#{{ form_end(delete_form) }}#}
        </li>-->
        </ul>
    <br><br><br>
{% endblock %}
