{% extends 'GestEventBundle:Default:base2.html.twig' %}

{% block init %}
{% endblock %}

{% block header %}
{% endblock %}
{% block body %}


<br><br>


        <h3 class="text-success">La participation à l'Evènement est effectué avec succès !</h3>
        <table>
            <tbody>
            <tr>
                <th>Evènement</th>
                <td>{{ participationEvent.getEventid.titre }}</td>
            </tr>
            <tr>
                <th>Date de l'Evènement</th>
                <td>{% if participationEvent.getEventid.date %} {{ participationEvent.getEventid.date|date("d/m/Y") }} {% endif %} à {% if participationEvent.getEventid.heure %} {{ participationEvent.getEventid.heure|date("H:i") }} {% endif %}</td>
            </tr>
            <tr>
                <th>Date de participation</th>
                <td>Ajourd'hui {% if participationEvent.date %} {{ "now"|date("d/m/Y") }} {% endif %} à {% if participationEvent.heure %}{{ "now"|date("H:i") }}{% endif %}</td>
            </tr>

            </tbody>
        </table><br>
        <a class="btn btn-outline-primary" href="{{ path('user_homepage') }}">Acceuil</a>

        <ul>

            <!--<li>
            <a href="{#{{ path('participationevent_edit', { 'id': participationEvent.id }) }}#}">Edit</a>
        </li>-->
            <!--<li>
           {# {{ form_start(delete_form) }}#}
                <input type="submit" value="Annuler">
            {#{{ form_end(delete_form) }}#}
        </li>-->
        </ul>
    <br><br><br>
{% endblock %}
