{% extends 'GestEventBundle:Default:base1.html.twig' %}


{% block leftmenu %}
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="{{ asset('_adminAssets') }}/img/logo/logo.png" alt=""/></a>
                <strong><a href="index.html"><img src="{{ asset('_adminAssets') }}/img/logo/logosn.png"
                                                  alt=""/></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li  class="active">
                            <a class="has-arrow" href="{{ path('read_salle') }}" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Salles</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Salle" href="{{ path('read_salle') }}"><span class="mini-sub-pro">Salle</span></a></li>
                                <li><a title="Projection" href="{{ path('read_projection') }}"><span class="mini-sub-pro">Projection</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Clubs</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Salle" href="{{ path('club_list') }}"><span class="mini-sub-pro">Club</span></a></li>
                                <li><a title="Projection" href="{{ path('competition_index') }}"><span class="mini-sub-pro">Competition</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion events</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="ajoutevent" href="{{ path('event_index') }}"><span class="mini-sub-pro">Events</span></a></li>
                                <li><a title="consevent" href="{{ path('participationevent_index') }}"  ><span class="mini-sub-pro">Participants</span></a></li>
                                <li><a title="consevent" href="{{ path('categorieevent_index') }}"><span class="mini-sub-pro">Catégories</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Sondage</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Sondage" href="{{ path('sondage_index') }}"><span class="mini-sub-pro">Sondage</span></a></li>
                                 <li><a title="Sondage" href="{{ path('surveycategory_index') }}"><span class="mini-sub-pro">Categories des Sondages</span></a></li>
                                <li><a title="Sondage" href="{{ path('clienttype_index') }}"><span class="mini-sub-pro">Type de client</span></a></li>
                                <li><a title="Statistique" href="{{ path('surveyDashboard') }}"><span class="mini-sub-pro">Statistique</span></a></li>
                            </ul>
                        </li> gest_event_participationevent
                    </ul>

                </nav>
            </div>
        </nav>
    </div>
{% endblock %}
{% block body %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Clubs <span class="table-project-n">Data</span> Table</h1>
                            </div>
                        </div>

                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">

                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                       data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar">
                                    <thead>

                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id" data-editable="true">Id_participation</th>
                                        <th data-field="user" data-editable="true">User(pseudo/Mail)</th>
                                        <th data-field="event" data-editable="true">Event(id/titre)</th>
                                        <th data-field="date" data-editable="true">Date participation</th>
                                        <th data-field="action">Action</th>
                                    </tr>

                                    </thead>
                                    <tbody>



                                    {% for topclient in topclient %}
                                        <tr>
                                            <td></td>
                                            <td>{{ topclient.id }}</td>
                                            <td>{{ topclient.user_id.username}} / {{ topclient.user_id.email}}</td>
                                            <td>{{ topclient.event_id.id }} / {{ topclient.event_id.titre }}</td>
                                            <td>{% if topclient.date %}{{ topclient.date|date('Y-m-d') }}{% endif %} à {% if topclient.heure %}{{ topclient.heure|date('H:i:s') }}{% endif %} </td>
                                            <td>
                                                <a href="{{ path('participationevent_delete', { 'id': topclient.id }) }}"
                                                   class="glyphicon glyphicon-trash"></a>

                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}
