{% extends 'GestEventBundle:Default:base2.html.twig' %}

{% block title %}GestEventBundle:advancedEvent:confirmer{% endblock %}
{% block init %}
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
{% set difference = date(ParticipationEvent.date).diff(date("now")) %}
    {% set leftDays = difference.days %}


    {% if ParticipationEvent.getEventid.prix == 0 %}
<h2 class="text-success">Vous voulez vraiment annuler votre participation ! </h2>
<p>Evènement: {{ ParticipationEvent.getEventid.titre }}</p>
<p>Date de participation: {% if ParticipationEvent.date %} {{ ParticipationEvent.date|date("d/m/Y") }} {% endif %} à {% if ParticipationEvent.heure %}{{ "now"|date("H:i") }}{% endif %}</p>
<a class="btn btn-outline-primary btn-lg " href="{{ path('annuler', { 'id':  ParticipationEvent.id }) }}">Confirmer</a>



    {% elseif (leftDays >= 0 and  leftDays < 3) and (ParticipationEvent.getEventid.prix >= 0) %}
        <h2 class="text-success">Vous voulez vraiment annuler votre participation ! </h2>
        <p>Evènement: {{ ParticipationEvent.getEventid.titre }}</p>
        <p>Date de participation: {% if ParticipationEvent.date %} {{ ParticipationEvent.date|date("d/m/Y") }} {% endif %} à {% if ParticipationEvent.heure %}{{ "now"|date("H:i") }}{% endif %}</p>
        <a class="btn btn-outline-primary btn-lg " href="{{ path('annuler', { 'id':  ParticipationEvent.id }) }}">Confirmer</a>

    {% else %}
        <h2 class="text-danger"> Désolé vous avez dépassé 48h ! </h2>
        <h3 class="text-warning"> NB: Ne pas rembourser les frais de participation  </h3><br>
        <a class="btn btn-outline-primary btn-lg " href="{{ path('user_homepage') }}">Acceuil</a>
    {% endif %}

{% endblock %}


