{% extends 'GestEventBundle:Default:base2.html.twig' %}

{% block title %}GestEventBundle:advancedEvent:topfive{% endblock %}

{% block init %}
    <header class="site-navbar container bg-dark py-0 " role="banner">

        <!-- <div class="container"> -->
        <div class="row align-items-center ">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo "><a href="{{ path('user_homepage') }}" class="text-light mb-0">Acceuil</a></h1>
            </div>


        </div>
        <!-- </div> -->

    </header>
    <br>
{% endblock %}

{% block header %}

{% endblock %}
{% block body %}
<div class="site-section bg-light">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2 class="h5 mb-4 text-warning "><i class="glyphicon glyphicon-star"></i>TOP 3 Evènements </h2>
            </div>
        </div>

    <div class="row">

        {% for topthree in topthree|slice(0,3) %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30 p-3 mb-2 bg-white text-dark ">
                    <div style=" background-image: url('{{ asset('_frontAssets') }}/images/{{ topthree.getCategorieevent().getImg() }}');" class="panel-body custom-panel-jw">
                        <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                        <h3 class="p-3 mb-2 bg-warning text-white rounded" align="center" class="category">{{ topthree.titre }}</h3>
                        <p class="all-pro-ad text-warning">{{ topthree.getCategorieevent().getNom() }}</p>
                        <p class="all-pro-ad small text-warning">{{ topthree.description }}</p>
                        <p class="all-pro-ad text-warning">{{ topthree.lieu }} : {% if topthree.date %}{{ topthree.date|date('d-m-Y') }}{% endif %} à {% if topthree.heure %}{{ topthree.heure|date('H:i') }}{% endif %}</p>
                        {% if topthree.prix == 0 %}
                            <p class="all-pro-ad text-warning">Gratuit</p>
                        {% else %}
                            <p class="all-pro-ad text-warning">Ticket {{ topthree.prix }} DT</p>
                        {% endif %}

                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="btn btn-outline-warning btn-lg btn-block" href="{{ path('participationevent_new', { 'id': topthree.id , 'user': app.user.id}) }}">Participer</a>
                    {% else %}
                        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('fos_user_security_login') }}">Participer</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}


        <!--******************************************-->

        <!--*********************************************-->



    </div>
    </div>
</div>
{% endblock %}

