{% extends 'MainBundle:Default:base2.html.twig' %}
{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">


                                        <div><img src="{{ asset("uploadsP") }}/{{ Projection.getThumb() }}" alt="Image" class="img-fluid rounded"  width="640"></div>
                                    {#<div class="owl-item cloned" style="width: 730px;">
                                        <div><img src="images/img_1.jpg" alt="Image" class="img-fluid rounded"></div>
                                    </div>
                                    <div class="owl-item" style="width: 730px;">
                                        <div><img src="images/img_2.jpg" alt="Image" class="img-fluid rounded"></div>
                                    </div>
                                    <div class="owl-item active" style="width: 730px;">
                                        <div><img src="images/img_3.jpg" alt="Image" class="img-fluid rounded"></div>
                                    </div>
                                    <div class="owl-item" style="width: 730px;">
                                        <div><img src="images/img_4.jpg" alt="Image" class="img-fluid rounded"></div>
                                    </div>
                                    <div class="owl-item" style="width: 730px;">
                                        <div><img src="images/img_1.jpg" alt="Image" class="img-fluid rounded"></div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 730px;">
                                        <div><img src="images/img_2.jpg" alt="Image" class="img-fluid rounded"></div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 730px;">
                                        <div><img src="images/img_3.jpg" alt="Image" class="img-fluid rounded"></div>
                                    </div>#}


                </div>
                <div class="col-lg-3 ml-auto">

                    <div class="mb-5">
                        <h3 class="text-primary"> {{ Projection.titleProjection }} </h3>
                        <h5 class="h5 text-black mb-3"> DETAILS :  </h5>
                        <h6><p class="text-body"> Categorie : {{ Projection.categorieProjection }} </p></h6>
                        <h6><p class="text-body"> Description : {{ Projection.descriptionProjection }} </p></h6>
                        <h6><p class="text-body"> Duree : {{ Projection.dureeProjection }} </p></h6>
                        <h6><p class="text-body"> Date : {% if Projection.dateProjection %} {{ Projection.dateProjection|date('Y-m-d H:i:s') }} {% endif %}  </p>
                        </h6>
                        <h6><p class="text-body"> Lieu : Cite de la culture </p></h6>
                    </div>
                      <form method="post"
                             action="{{ path('decrementation_Salle', { 'id':Projection.Salle.id}) }} ">
                        <div class="mb-5">
                            <label>
                                <h6><p class="text-primary"> Le nombre des Chaises a reservé :
                            </label><input name="number" type="number" id="nbr" min="1" max="5"/></p></h6>

                            {% if 
                                is_granted('ROLE_ADMIN' ) or 
                                is_granted('ROLE_CLIENT') 
                            %}
                                <button name="decrement" value="decrement" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Confirmer
                                </button>
                                <input type="text" value=" {{ app.user.id }} " name="user" style="display: none">
                                <input type="text" value=" {{ app.user.Nom}} " name="Nom" style="display: none">
                                <input type="text" value=" {{ app.user.Prenom }} " name="Prenom" style="display: none">
                                <input type="text" value="{{ Projection.titleProjection }}" name="title" style="display: none">
                                <input type="text" value=" {{ Projection.dateProjection|date('Y-m-d H:i:s') }} " name="date" style="display: none">
                                <input type="text" value=" {{ Projection.descriptionProjection }} " name="description" style="display: none">
                                <input type="text" value=" {{ Projection.prixProjection }} " name="prix" style="display: none">

                            {% elseif not is_granted('ROLE_ADMIN' ) or is_granted('ROLE_CLIENT') or is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                            <a href="{{ path('fos_user_security_login') }}"
                               class="btn btn-custon-four btn-success"><i
                                        class="fa fa-fw fa-plus"></i>&nbsp;Confirmer</a>
                            {% endif  %}










                        </div>






                    </form>







                </div>

            </div>
        </div>
    </div>
{% endblock %}


