{% extends 'MainBundle:Default:base1.html.twig' %}

{% block body %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Dashboard des sondages</h4>
                        <div class="row">
                            {% for survey in surveys %}
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="hpanel widget-int-shape responsive-mg-b-30">
                                        <div class="panel-body">
                                            <div class="stats-title pull-left">
                                                <h4>{{ survey.title }}</h4>
                                            </div>
                                            <div class="stats-icon pull-right">
                                                <i class="educate-icon educate-apps"></i>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% for question in survey.questions %}
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                        <div class="hpanel widget-int-shape responsive-mg-b-30">
                                            <div class="panel-body">
                                                <div class="text-center content-box">
                                                    <h2 class="m-b-xs">Question: {{ question.content }}</h2>
                                                    <div class="m icon-box">
                                                        <i class="educate-icon educate-star-half"></i>
                                                    </div>
                                                    <p class="small mg-t-box">
                                                        Meilleur Reponse: {{ question.bestAnswer }} <br>
                                                        Nombre des personnes: {{ question.bestScore }} 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 {% endfor %}
                            </div>
                            <hr>
                            <script type="text/javascript">
                                google.charts.load("current", {packages:["corechart"]});
                                google.charts.setOnLoadCallback(drawChart);
                                function drawChart() {
                                    var data = google.visualization.arrayToDataTable([
                                    ['Question', 'Best Question'],
                                    {% for question in survey.questions %}
                                    ['{{ question.content|replace('&#039','\'') }}',    {{ question.bestScore }}],
                                    {% endfor %}
                                    ]);

                                    var options = {
                                    title: '{{survey.title}}',
                                    pieHole: 0.4,
                                    };

                                    var chart = new google.visualization.PieChart(document.getElementById('donutchart'+"{{survey.id}}"));
                                    chart.draw(data, options);
                                }
                                </script>
                                    <div id="donutchart{{survey.id}}" style="width: 900px; height: 500px;"></div>
                                    <hr>
                                    <br><br><br><br>
                            {% endfor %}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
