{% extends 'MainBundle:Default:base1.html.twig' %}

{% block body %}
   <div class="product-status mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap drp-lst">
                            <h4>Survey Category List</h4>
                            <div class="add-product">
                                <a href="{{ path('surveycategory_new') }}">Ajouter une categorie</a>
                            </div>
                            <div class="asset-inner">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>                    
                                    </tbody>
                                    {% for surveyCategory in surveyCategories %}
                                        <tr>
                                            <td>{{ surveyCategory.id }}</td>
                                            <td>{{ surveyCategory.name }}</td>
                                            <td>
                                            <a href="{{ path('surveycategory_edit', { 'id': surveyCategory.id }) }}" data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}