<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} DirectoryAds &mdash; Colorlib Website Template{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/fonts/icomoon/style.css">

    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/aos.css">
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/rangeslider.css">

    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/style.css">
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/salim.css">
    {% block css %}{% endblock %}

</head>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    {% block header %}

        <header class="site-navbar container py-0 " role="banner">

            <!-- <div class="container"> -->
            <div class="row align-items-center">

                <div class="col-6 col-xl-2">
                    <h1 class="mb-0 site-logo"><a href="/" class="text-white mb-0">CITE DE LA CULTURE</a></h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class="active"><a href="{{ path('Liste_Projection') }}">Projections</a></li>
                            <li><a href="{{ path('all_sondages') }}">Liste des sondages</a></li>
                            <li><a href="{{ path('club_index') }}">Liste des clubs</a></li>
                            <li><a href="{{ path('competition_front_index') }}">Liste des compétitions</a></li> 
                            <li><a href="{{ path('front_read') }}">Liste des projets</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li class="mr-5"><a href="contact.html">Contact</a></li>

                            <li class="ml-xl-3 login"><a href="login.html"><span class="border-left pl-xl-4"></span>Log
                                    In</a></li>

                            <li><a href="register.html" class="cta"><span
                                            class="bg-primary text-white rounded">Register</span></a></li>
                        </ul>
                    </nav>
                </div>


                <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right"
                     style="position: relative; top: 3px;">
                    <a href="#" class="site-menu-toggle js-menu-toggle text-white"><span
                                class="icon-menu h3"></span></a>
                </div>

            </div>
            <!-- </div> -->

        </header>



        <div class="site-blocks-cover overlay"
             style="background-image: url('{{ asset('_frontAssets') }}/images/hero_2.jpg');" data-aos="fade"
             data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">

                    <div class="col-md-12">


                    <div class="row justify-content-center mb-4">
                    {% block header_menu %} <div class="col-md-8 text-center">
                            <h1 class="aos-init aos-animate" data-aos="fade-up">CITE DE LA CULTURE</h1>
                            <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">La Cité de la Culture est un complexe culturel tunisien de neuf hectares situé en plein centre de la ville de Tunis, à l'emplacement de l'ancienne Foire internationale de Tunis sur l'avenue Mohammed V. Les travaux sont entamés en 2003 et interrompus à multiples reprises, pour être achevés en 2018. </p>
                        </div> {% endblock %}
                        
                    </div>
                   



                </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block body %}
        <div class="site-section bg-light">
            <div class="container">


                <div class="row">
                    <div class="col-12">
                        <h2 class="h5 mb-4 text-black">Featured Ads</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12  block-13">
                        <div class="owl-carousel nonloop-block-13">

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_1.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Cars &amp; Vehicles</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">New Black Car</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_2.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Real Estate</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">Own New House</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_3.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Furniture</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_4.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Electronics</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">iPhone X gray</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_1.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Cars &amp; Vehicles</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">New Black Car</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_2.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Real Estate</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">Own New House</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_3.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Furniture</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                            <div class="d-block d-md-flex listing vertical">
                                <a href="listings-single.html" class="img d-block"
                                   style="background-image: url('{{ asset('_frontAssets') }}/images/img_4.jpg')"></a>
                                <div class="lh-content">
                                    <span class="category">Electronics</span>
                                    <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                    <h3><a href="listings-single.html">iPhone X gray</a></h3>
                                    <address>Don St, Brooklyn, New York</address>
                                    <p class="mb-0">
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-warning"></span>
                                        <span class="icon-star text-secondary"></span>
                                        <span class="review">(3 Reviews)</span>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="site-section" data-aos="fade">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 text-center border-primary">
                        <h2 class="font-weight-light text-primary">Popular Categories</h2>
                        <p class="color-black-opacity-5">Lorem Ipsum Dolor Sit Amet</p>
                    </div>
                </div>
                <div class="overlap-category mb-5">
                    <div class="row align-items-stretch no-gutters">
                        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                            <a href="#" class="popular-category h-100">
                                <span class="icon"><span class="flaticon-car"></span></span>
                                <span class="caption mb-2 d-block">Cars &amp; Vehicles</span>
                                <span class="number">1,921</span>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                            <a href="#" class="popular-category h-100">
                                <span class="icon"><span class="flaticon-closet"></span></span>
                                <span class="caption mb-2 d-block">Furniture</span>
                                <span class="number">2,339</span>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                            <a href="#" class="popular-category h-100">
                                <span class="icon"><span class="flaticon-home"></span></span>
                                <span class="caption mb-2 d-block">Real Estate</span>
                                <span class="number">4,398</span>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                            <a href="#" class="popular-category h-100">
                                <span class="icon"><span class="flaticon-open-book"></span></span>
                                <span class="caption mb-2 d-block">Books &amp; Magazines</span>
                                <span class="number">3,298</span>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                            <a href="#" class="popular-category h-100">
                                <span class="icon"><span class="flaticon-tv"></span></span>
                                <span class="caption mb-2 d-block">Electronics</span>
                                <span class="number">`2,932</span>
                            </a>
                        </div>

                        <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                            <a href="#" class="popular-category h-100">
                                <span class="icon"><span class="flaticon-pizza"></span></span>
                                <span class="caption mb-2 d-block">Other</span>
                                <span class="number">183</span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="site-section bg-light">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-7 text-left border-primary">
                        <h2 class="font-weight-light text-primary">Trending Today</h2>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">

                        <div class="d-block d-md-flex listing">
                            <a href="listings-single.html" class="img d-block"
                               style="background-image: url('{{ asset('_frontAssets') }}/images/img_2.jpg')"></a>
                            <div class="lh-content">
                                <span class="category">Real Estate</span>
                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                <h3><a href="listings-single.html">Own New House</a></h3>
                                <address>Don St, Brooklyn, New York</address>
                                <p class="mb-0">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-secondary"></span>
                                    <span class="review">(3 Reviews)</span>
                                </p>
                            </div>
                        </div>
                        <div class="d-block d-md-flex listing">
                            <a href="listings-single.html" class="img d-block"
                               style="background-image: url('{{ asset('_frontAssets') }}/images/img_3.jpg')"></a>
                            <div class="lh-content">
                                <span class="category">Furniture</span>
                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
                                <address>Don St, Brooklyn, New York</address>
                                <p class="mb-0">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-secondary"></span>
                                    <span class="review">(3 Reviews)</span>
                                </p>
                            </div>
                        </div>

                        <div class="d-block d-md-flex listing">
                            <a href="listings-single.html" class="img d-block"
                               style="background-image: url('{{ asset('_frontAssets') }}/images/img_4.jpg')"></a>
                            <div class="lh-content">
                                <span class="category">Electronics</span>
                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                <h3><a href="listings-single.html">iPhone X gray</a></h3>
                                <address>Don St, Brooklyn, New York</address>
                                <p class="mb-0">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-secondary"></span>
                                    <span class="review">(3 Reviews)</span>
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6">

                        <div class="d-block d-md-flex listing">
                            <a href="listings-single.html" class="img d-block"
                               style="background-image: url('{{ asset('_frontAssets') }}/images/img_1.jpg')"></a>
                            <div class="lh-content">
                                <span class="category">Cars &amp; Vehicles</span>
                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                <h3><a href="listings-single.html">New Black Car</a></h3>
                                <address>Don St, Brooklyn, New York</address>
                                <p class="mb-0">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-secondary"></span>
                                    <span class="review">(3 Reviews)</span>
                                </p>
                            </div>
                        </div>

                        <div class="d-block d-md-flex listing">
                            <a href="listings-single.html" class="img d-block"
                               style="background-image: url('{{ asset('_frontAssets') }}/images/img_2.jpg')"></a>
                            <div class="lh-content">
                                <span class="category">Real Estate</span>
                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                <h3><a href="listings-single.html">Own New House</a></h3>
                                <address>Don St, Brooklyn, New York</address>
                                <p class="mb-0">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-secondary"></span>
                                    <span class="review">(3 Reviews)</span>
                                </p>
                            </div>
                        </div>
                        <div class="d-block d-md-flex listing">
                            <a href="listings-single.html" class="img d-block"
                               style="background-image: url('{{ asset('_frontAssets') }}/images/img_3.jpg')"></a>
                            <div class="lh-content">
                                <span class="category">Furniture</span>
                                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                                <h3><a href="listings-single.html">Wooden Chair &amp; Table</a></h3>
                                <address>Don St, Brooklyn, New York</address>
                                <p class="mb-0">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-secondary"></span>
                                    <span class="review">(3 Reviews)</span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-white">
            <div class="container">

                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 text-center border-primary">
                        <h2 class="font-weight-light text-primary">Testimonials</h2>
                    </div>
                </div>

                <div class="slide-one-item home-slider owl-carousel">
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="{{ asset('_frontAssets') }}/images/person_3.jpg" alt="Image"
                                     class="img-fluid mb-3">
                                <p>John Smith</p>
                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                    reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                    illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                                    iusto.&rdquo;</p>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="{{ asset('_frontAssets') }}/images/person_2.jpg" alt="Image"
                                     class="img-fluid mb-3">
                                <p>Christine Aguilar</p>
                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                    reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                    illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                                    iusto.&rdquo;</p>
                            </blockquote>
                        </div>
                    </div>

                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="{{ asset('_frontAssets') }}/images/person_4.jpg" alt="Image"
                                     class="img-fluid mb-3">
                                <p>Robert Spears</p>
                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                    reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                    illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                                    iusto.&rdquo;</p>
                            </blockquote>
                        </div>
                    </div>

                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="{{ asset('_frontAssets') }}/images/person_5.jpg" alt="Image"
                                     class="img-fluid mb-3">
                                <p>Bruce Rogers</p>
                            </figure>
                            <blockquote>
                                <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
                                    reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae
                                    illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                                    iusto.&rdquo;</p>
                            </blockquote>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 text-center border-primary">
                        <h2 class="font-weight-light text-primary">Our Blog</h2>
                        <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p>
                    </div>
                </div>
                <div class="row mb-3 align-items-stretch">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                        <div class="h-entry">
                            <img src="{{ asset('_frontAssets') }}/images/img_1.jpg" alt="Image"
                                 class="img-fluid rounded">
                            <h2 class="font-size-regular"><a href="#" class="text-black">Many People Selling Online</a>
                            </h2>
                            <div class="meta mb-3">by Mark Spiker<span class="mx-1">&bullet;</span> Jan 18, 2019 <span
                                        class="mx-1">&bullet;</span> <a href="#">News</a></div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores
                                sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                        <div class="h-entry">
                            <img src="{{ asset('_frontAssets') }}/images/img_2.jpg" alt="Image"
                                 class="img-fluid rounded">
                            <h2 class="font-size-regular"><a href="#" class="text-black">Many People Selling Online</a>
                            </h2>
                            <div class="meta mb-3">by Mark Spiker<span class="mx-1">&bullet;</span> Jan 18, 2019 <span
                                        class="mx-1">&bullet;</span> <a href="#">News</a></div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores
                                sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                        <div class="h-entry">
                            <img src="{{ asset('_frontAssets') }}/images/img_3.jpg" alt="Image"
                                 class="img-fluid rounded">
                            <h2 class="font-size-regular"><a href="#" class="text-black">Many People Selling Online</a>
                            </h2>
                            <div class="meta mb-3">by Mark Spiker<span class="mx-1">&bullet;</span> Jan 18, 2019 <span
                                        class="mx-1">&bullet;</span> <a href="#">News</a></div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores
                                sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        </div>
                    </div>

                    <div class="col-12 text-center mt-4">
                        <a href="#" class="btn btn-primary rounded py-2 px-4 text-white">View All Posts</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="footer-heading mb-4">About</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident rerum unde possimus
                                molestias dolorem fuga, illo quis fugiat!</p>
                        </div>

                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Navigations</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent"
                                   placeholder="Search products..." aria-label="Enter Email"
                                   aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button" id="button-addon2">Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="icon-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>
{% endblock %}

<script src="{{ asset('_frontAssets') }}/js/jquery-3.3.1.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/jquery-migrate-3.0.1.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/jquery-ui.js"></script>
<script src="{{ asset('_frontAssets') }}/js/popper.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/bootstrap.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/owl.carousel.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/jquery.stellar.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/jquery.countdown.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/jquery.magnific-popup.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/bootstrap-datepicker.min.js"></script>
<script src="{{ asset('_frontAssets') }}/js/aos.js"></script>
<script src="{{ asset('_frontAssets') }}/js/rangeslider.min.js"></script>

<script src="{{ asset('_frontAssets') }}/js/main.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% block javascripts %}{% endblock %}
{% block javascript %}<script src="{{ asset('_frontAssets') }}/js/salim.js"></script>{% endblock %}
<script src="{{ asset('_frontAssets') }}/js/bechir.js"></script>
</body>
</html>