{% extends 'MainBundle:Default:base2.html.twig' %}
{% block body %}


    {% block fos_user_content %}


        <p hidden> {{ date|date('d-m-y') }}</p>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">


                        <h4 class="h5 mb-4 text-black">Informations sur le projet </h4>
                        <p> {{ test }}</p>
                        <p> {{ desc }} </p>
                        <p>{{ app.user.username }}</p>

                        <p class="mt-3 "><a href="{{ path('pdf_image',{
                                'test':test,
                                'desc':desc,
                                'username':app.user.username,
                                'date':date
                            })}}" class="btn btn-primary text-white"> Postuler </a></p>

                    </div>
                </div>
            </div>
        </div>

      <center>{% include '@FOSComment/Thread/async.html.twig' with {'id': 'foo'} %} </center>
    {% endblock fos_user_content %}
{% endblock body %}




{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/bechir.js"></script>
{% endblock %}