{% extends 'MainBundle:Default:base2.html.twig' %}
{% block body %}

    <html>
    <head>
        <title>Liste des projets</title>
    </head>

    <body>

    <center>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-7 text-left border-primary">
                        <h2 class="font-weight-light text-primary"> Liste des projets </h2>
                    </div>
                </div>

                <div class="site-section">
                    <div class="container">
                        <div class="row">
                            {%  for p in projet %}


                                <div class="col-lg-6">

                                    <div class="d-block d-md-flex listing vertical">

                                        <a href="#" class="img d-block" style="background-image: url('http://medias.rtci.tn/wp-content/uploads/2017/02/ministere-des-affaires-culturelles.jpg')"></a>

                                        <div class="lh-content">

                                            <span class="category">Electronics</span>

                                            <a href="#" class="bookmark"><span class="icon-heart" ></span></a>

                                            <h3><a href="#">  <h6>{{p.titreProjet}}</h6></a></h3>
                                            <address> <h6>{{p.descriptionProjet}} </h6></address>



                                            <h6>{{p.id}}</h6>


                                            <h6>{{p.dateSoumission|date('d-m-y')}}</h6>
                                            <h6>{{p.echeanceProjet|date('d-m-y')}}</h6>


                                            {% if  p.category.name is defined and p.category.name is not null %}
                                            <p class="mb-0">
                                                {{p.category.name}}
                                            </p>
                                            {% endif %}


                                        </div>
                                        <div class="p-4 mb-3 bg-white">

                                            <p><a href="{{ path('projet_details',{'titre':p.titreProjet , 'desc':p.descriptionProjet , 'date':p.dateSoumission|date('d-m-y') })}}" class="btn btn-primary px-4 py-2 text-white"> Détail de projet </a></p>
                                        </div>
                                    </div>

                                </div>


                            {% endfor %}
                            <br>

                         <div class="text-center centerDivElement ">{{ knp_pagination_render(projet) }}</div>

                            <br>

                        </div>
                    </div>
                </div>
    </center>

    </body>
    </html>




{% endblock %}
