{% extends 'MainBundle:Default:base1.html.twig' %}
{% block body %}
    <html>
    <head>
        <title>Modifier</title>
    </head>
    <body>

    <center>
        <h1>Modifier un projet</h1>
        {{ form_start(form) }}
        <input type="submit" value="Modifier">
        <br>
        <br>
        {{ form_end(form) }}
        <a href="{{ path('read_project')}}"
           class="btn btn-custon-four btn-danger"><i
                    class="fa fa-fw fa-close"></i></a>
    </center>
    </body>
    </html>

{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}