<div>
    <center><h1 style="display: inline-block;vertical-align: top">Invitation</h1> </center>
    <img height="200" style="float: right;vertical-align: top" src="http://www.citedelaculture.gov.tn/wp-content/themes/porto/images/logo/logo.png"/>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>


<br>
<br>
<br>
<br>
<div>
    <center><p>Bonjour,  {{ username }}   </p> </center>

    <p style="font-size:20px; " ><center>vous avez bien enregistre votre candidature pour le projet {{ test }} </center> </p>
    <p style="font-size:20px" > <center>veuillez vous presenter votre dossier a la date de {{ date|date('d-m-y') }} </center></p>
    <p style="font-size:20px"> <center>Merci.</center></p>
    <p style="font-size:20px"> <center>Bonne Journee </center> </p>

</div>


