{% extends 'MainBundle:Default:base1.html.twig' %}
{% block body %}

    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1> Liste <span class="table-project-n"> des </span> projets </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ path('create_project') }}" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Nouveau
                                    Projet</a>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                       data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar" >
                                    <thead>
                                    <tr>

                                        <th data-field="id" data-editable="true">Id</th>
                                        <th data-field="titreProjet" data-editable="true">titreProjet</th>
                                        <th data-field="descriptionProjet" data-editable="true">descriptionProjet</th>
                                        <th data-field="dateSoumission" data-editable="true">dateSoumission</th>
                                        <th data-field="echeanceProjet"> echeanceProjet</th>
                                        <th data-field="exigenceProjet" data-editable="true">exigenceProjet</th>
                                        <th data-field="dcibleProjet data-editable="true"> cibleProjet</th>
                                        <th data-field="updte">update</th>
                                        <th data-field="delete">delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for p in projet %}
                                        <tr>

                                            <td>{{p.id}}</td>
                                            <td>{{p.titreProjet}}</td>
                                            <td>{{p.descriptionProjet}} </td>
                                            <td>{{p.dateSoumission|date('Y-m-d')}}</td>
                                            <td>{{p.echeanceProjet|date('Y-m-d')}}</td>
                                            <td>{{p.exigenceProjet}}</td>
                                            <td>{{p.cibleProjet }}</td>
                                            <td><a href="{{ path('update_project',{'id':p.id}) }}"
                                                   class="btn btn-custon-four btn-primary"><i
                                                            class="fa fa-fw fa-edit"></i></a> </td>
                                            <td>   <a href="{{ path('delete_project',{'id':p.id})}}"
                                                      class="btn btn-custon-four btn-danger"><i
                                                            class="fa fa-fw fa-close"></i></a> </td>

                                        </tr>


                                    {% endfor %}
                                    </tbody>
                                </table>

                                <br>
                                <br>

                                <div class="text-center">{{ knp_pagination_render(projet) }}</div>

                                <br>


                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-editable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}