{% extends 'GestEventBundle:Default:base1.html.twig' %}

{% block body %}
    <h1>Modifier évènement</h1>
    <br>
    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 mb-5"  data-aos="fade">
                    {{ form_start(edit_form) }}
                    <div class="row form-group">
                        {{ form_widget(edit_form.titre , {'attr':{'class' : 'form-control'}}) }}
                    </div>
                    <div class="row form-group">
                        {{ form_widget(edit_form.description , {'attr':{'class' : 'form-control'}}) }}
                    </div>

                    <div class="row form-group">
                        {{ form_widget(edit_form.categorieEvent , {'attr':{'class' : 'form-control'}}) }}
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            {{ form_label(edit_form.date) }}
                            {{ form_widget(edit_form.date) }}
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            {{ form_label(edit_form.heure) }}
                            {{ form_widget(edit_form.heure) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        {{ form_widget(edit_form.prix , {'attr':{'class' : 'form-control'}}) }}
                    </div>

                    <div class="row form-group">
                        {{ form_widget(edit_form.limiteE_max , {'attr':{'class' : 'form-control'}}) }}
                    </div>




                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Modifier" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>

                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
