{% extends 'GestEventBundle:Default:base1.html.twig' %}
{% block leftmenu %}
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="{{ asset('_adminAssets') }}/img/logo/logo.png" alt=""/></a>
                <strong><a href="index.html"><img src="{{ asset('_adminAssets') }}/img/logo/logosn.png"
                                                  alt=""/></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li  class="active">
                            <a class="has-arrow" href="{{ path('read_salle') }}" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Salles</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Salle" href="{{ path('read_salle') }}"><span class="mini-sub-pro">Salle</span></a></li>
                                <li><a title="Projection" href="{{ path('read_projection') }}"><span class="mini-sub-pro">Projection</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Clubs</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Salle" href="{{ path('club_list') }}"><span class="mini-sub-pro">Club</span></a></li>
                                <li><a title="Projection" href="{{ path('competition_index') }}"><span class="mini-sub-pro">Competition</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion events</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="ajoutevent" href="{{ path('event_index') }}"><span class="mini-sub-pro">Events</span></a></li>
                                <li><a title="consevent" href="{{ path('participationevent_index') }}"  ><span class="mini-sub-pro">Participants</span></a></li>
                                <li><a title="consevent" href="{{ path('categorieevent_index') }}"><span class="mini-sub-pro">Catégories</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Sondage</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Sondage" href="{{ path('sondage_index') }}"><span class="mini-sub-pro">Sondage</span></a></li>
                                 <li><a title="Sondage" href="{{ path('surveycategory_index') }}"><span class="mini-sub-pro">Categories des Sondages</span></a></li>
                                <li><a title="Sondage" href="{{ path('clienttype_index') }}"><span class="mini-sub-pro">Type de client</span></a></li>
                                <li><a title="Statistique" href="{{ path('surveyDashboard') }}"><span class="mini-sub-pro">Statistique</span></a></li>
                            </ul>
                        </li> gest_event_participationevent
                    </ul>

                </nav>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body %}

    <!-- Mobile Menu end -->
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="{{ path('event_new') }}" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Nouveau Event</a>
                            </div>

                            <div class="col-md-3">
                                <div class="breadcome-heading">
                                    <form role="search" class="sr-input-func">
                                        <input type="text" placeholder="Search..." class="search-int form-control">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*************************************************-->

    <h4>Liste évènements</h4>

    <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <div class="row">

                {% for event in events %}
                    {% set difference = date(event.date).diff(date("now")) %}
                    {% set leftDays = difference.invert %}
                    {% if leftDays == 0 %}

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                            <div class="panel-body custom-panel-jw">
                                <h3 align="center" class="text-warning">***** Archive *****</h3>
                                <div class="social-media-in">
                                    <a href="{{ path('event_delete', { 'id': event.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                                    <a href="{{ path('event_edit', { 'id': event.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                </div>
                                <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                                <p class="all-pro-ad">{{ event.titre }}</p>
                                <p class="all-pro-ad">{{ event.getCategorieevent().getNom() }}</p>
                                <p class="all-pro-ad">{{ event.description }}</p>
                                <p class="all-pro-ad">{{ event.lieu }} : {% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %} à {% if event.heure %}{{ event.heure|date('H:i:s') }}{% endif %}</p>
                                {% if event.prix == 0 %}
                                    <p class="all-pro-ad">Gratuit</p>
                                {% else %}
                                    <p class="all-pro-ad">Ticket {{ event.prix }} DT</p>
                                {% endif %}

                            </div>
                            <div class="panel-footer contact-footer">
                                <div class="professor-stds-int">
                                    <div class="professor-stds">
                                        <div class="contact-stat"><span>Participants: </span> <br><strong>{{ event.nbrpart }}</strong></div>
                                    </div>
                                    <div class="professor-stds">
                                        <div class="contact-stat"><span>&nbsp;&nbsp;&nbsp;Maximum </span> <br>&nbsp;&nbsp;&nbsp;<strong>{{ event.getLimiteEMax() }}</strong></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                {% else %}


                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                            <div class="panel-body custom-panel-jw">
                                <div class="social-media-in">
                                    <a href="{{ path('event_delete', { 'id': event.id }) }}"><i class="glyphicon glyphicon-trash"></i></a>
                                    <a href="{{ path('event_edit', { 'id': event.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                                </div>
                                <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                                <h3 align="center">{{ event.titre }}</h3>
                                <p class="all-pro-ad">{{ event.getCategorieevent().getNom() }}</p>
                                <p class="all-pro-ad">{{ event.description }}</p>
                                <p class="all-pro-ad">{{ event.lieu }} : {% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %} à {% if event.heure %}{{ event.heure|date('H:i:s') }}{% endif %}</p>
                                {% if event.prix == 0 %}
                                    <p class="all-pro-ad">Gratuit</p>
                                {% else %}
                                    <p class="all-pro-ad">Ticket {{ event.prix }} DT</p>
                                {% endif %}

                            </div>
                            <div class="panel-footer contact-footer">
                                <div class="professor-stds-int">
                                    <div class="professor-stds">
                                        <div class="contact-stat"><span>Participants: </span> <br><strong>{{ event.nbrpart }}</strong></div>
                                    </div>
                                    <div class="professor-stds">
                                        <div class="contact-stat"><span>&nbsp;&nbsp;&nbsp;Maximum </span> <br>&nbsp;&nbsp;&nbsp;<strong>{{ event.getLimiteEMax() }}</strong></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!--**************************************************************-->

    <!-- jquery
           ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/metisMenu/metisMenu.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/calendar/moment.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/calendar/fullcalendar.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/tawk-chat.js"></script>

{% endblock %}




           {# <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.titre }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.categorie }}</td>
                <td>{{ event.prix }}</td>
                <td>{% if event.heure %}{{ event.heure|date('H:i:s') }}{% endif %}</td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ event.lieu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
#}
