{% extends 'GestEventBundle:Default:base1.html.twig' %}

{% block leftmenu %}
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="{{ asset('_adminAssets') }}/img/logo/logo.png" alt=""/></a>
                <strong><a href="index.html"><img src="{{ asset('_adminAssets') }}/img/logo/logosn.png"
                                                  alt=""/></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                   <ul class="metismenu" id="menu1">
                        <li  class="active">
                            <a class="has-arrow" href="{{ path('read_salle') }}" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Salles</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Salle" href="{{ path('read_salle') }}"><span class="mini-sub-pro">Salle</span></a></li>
                                <li><a title="Projection" href="{{ path('read_projection') }}"><span class="mini-sub-pro">Projection</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Clubs</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Salle" href="{{ path('club_list') }}"><span class="mini-sub-pro">Club</span></a></li>
                                <li><a title="Projection" href="{{ path('competition_index') }}"><span class="mini-sub-pro">Competition</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion events</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="ajoutevent" href="{{ path('event_index') }}"><span class="mini-sub-pro">Events</span></a></li>
                                <li><a title="consevent" href="{{ path('participationevent_index') }}"  ><span class="mini-sub-pro">Participants</span></a></li>
                                <li><a title="consevent" href="{{ path('categorieevent_index') }}"><span class="mini-sub-pro">Catégories</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span class="educate-icon educate-student icon-wrap"></span> <span class="mini-click-non">Gestion Sondage</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Sondage" href="{{ path('sondage_index') }}"><span class="mini-sub-pro">Sondage</span></a></li>
                                 <li><a title="Sondage" href="{{ path('surveycategory_index') }}"><span class="mini-sub-pro">Categories des Sondages</span></a></li>
                                <li><a title="Sondage" href="{{ path('clienttype_index') }}"><span class="mini-sub-pro">Type de client</span></a></li>
                                <li><a title="Statistique" href="{{ path('surveyDashboard') }}"><span class="mini-sub-pro">Statistique</span></a></li>
                            </ul>
                        </li> gest_event_participationevent
                    </ul>

                </nav>
            </div>
        </nav>
    </div>
{% endblock %}
{% block body %}

    <br>
    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 mb-5"  data-aos="fade">
                    {{ form_start(form) }}
                    <div class="row form-group">
                        {{ form_widget(form.titre , {'attr':{'class' : 'form-control', 'placeholder':'Titre'}}) }}
                    </div>
                    <div class="row form-group">
                        {{ form_widget(form.description , {'attr':{'class' : 'form-control', 'placeholder':'Description'}}) }}
                    </div>

                    <div class="row form-group">
                        {{ form_widget(form.categorieEvent , {'attr':{'class' : 'form-control', 'placeholder':'Catégorie'}}) }}
                    </div>


                    <div class="row form-group">

                        <div class="col-md-12">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                            {{ form_errors(form.date) }}
                        </div>
                    </div>


                    <div class="row form-group">

                        <div class="col-md-12">
                            {{ form_label(form.heure) }}
                            {{ form_widget(form.heure) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        {{ form_widget(form.prix , {'attr':{'class' : 'form-control', 'placeholder':'Prix de participation'}}) }}
                    </div>


                    <div class="row form-group">
                        {{ form_widget(form.limiteE_max , {'attr':{'class' : 'form-control', 'placeholder':'limit maximal des participants'}}) }}
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Ajouter" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>

                    {{ form_end(form) }}

                    <ul>
                        <li>
                            <a href="{{ path('event_index') }}">Retour au liste </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
