{% extends 'GestEventBundle:Default:base1.html.twig' %}

{% block body %}
<div class="contacts-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
            <div class="panel-body custom-panel-jw">

                <p>Titre{{ event.titre }}</p>
                <p>Description : {{ event.description }}</p>
                <p>Catégorie : {{ event.getCategorieevent().getNom() }}</p>
                <p>Prix : {{ event.prix }}</p>
                <p>Date: {% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %} à {% if event.heure %}{{ event.heure|date('H:i:s') }}{% endif %}</p>
                <p>Lieu : {{ event.lieu }}</p>
                <p>Max participants : {{ event.getLimiteEMax() }}</p><br>
                <br>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="{{ path('event_index') }}"><i class="glyphicon glyphicon-ok"></i></a>
                </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="{{ path('event_edit', { 'id': event.id }) }}"><i class="glyphicon glyphicon-pencil"></i></a>
                    </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a href="{{ path('event_delete', { 'id': event.id }) }}"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
</div>

{% endblock %}



