{% trans_default_domain 'FOSUserBundle' %}

{% extends 'GestEventBundle:Default:base2.html.twig' %}

{% block init %}
    <!-- favicon
           ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('_adminAssets') }}/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/nottt.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/owl.theme.css">
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/vendor/modernizr-2.8.3.min.js"></script>








    <div class="site-blocks-cover overlay" style="background-image: url('{{ asset('_frontAssets') }}/images/hero_2.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">

                <div class="col-md-12">


                    <div class="row justify-content-center mb-4">
                        <div class="col-md-8 text-center">
                            <h1 class="" data-aos="fade-up">CITE DE LA CULTURE</h1>
                            <p data-aos="fade-up" data-aos-delay="100">La Cité de la Culture est un complexe culturel tunisien de neuf hectares situé en plein centre de la ville de Tunis, à l'emplacement de l'ancienne Foire internationale de Tunis sur l'avenue Mohammed V. Les travaux sont entamés en 2003 et interrompus à multiples reprises, pour être achevés en 2018. </p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %}


    <header class="site-navbar container py-0 " role="banner">

        <!-- <div class="container"> -->
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="index.html" class="text-white mb-0">CITE DE LA CULTURE</a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

    {% if is_granted ('ROLE_ADMIN') %}
        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a href="{{ path('Liste_Projection') }}">Projections</a></li>
            <li><a href="{{ path('all_sondages') }}">Liste des sondages</a></li>
            <li><a href="{{ path('club_index') }}">Liste des clubs</a></li>
            <li><a href="{{ path('competition_front_index') }}">Liste des compétitions</a></li>
            <li><a href="{{ path('event_index') }}">Dashboard</a></li>


            <li class="ml-xl-3 login"><a href="{{ path('fos_user_security_logout') }}"><span class="border-left pl-xl-4"></span>Log out</a></li>
            <li class="has-children">
                <a href="#">{{ app.user.username }}</a>
                <ul class="dropdown">
                    <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}"> Modifier </a></li>
                </ul>
            </li>


        </ul>

    {% elseif is_granted ('ROLE_USER') %}
    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">

        <li class="active"><a href="{{ path('Liste_Projection') }}">Projections</a></li>
            <li><a href="{{ path('all_sondages') }}">Liste des sondages</a></li>
            <li><a href="{{ path('club_index') }}">Liste des clubs</a></li>
            <li><a href="{{ path('competition_front_index') }}">Liste des compétitions</a></li>
        <li>
            <div class="row">
                <div class="header-top-wraper">
                    <div class="row">

                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="header-right-info">
                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                    <li class="nav-item dropdown">

                                        <div role="menu"
                                             class="author-message-top dropdown-menu animated zoomIn">


                                    <li class="nav-item"><a href="" data-toggle="dropdown" role="button"
                                                            aria-expanded="false"
                                                            class="nav-link dropdown-toggle"><i
                                                    class="educate-icon educate-bell"
                                                    aria-hidden="true"></i><span
                                                    class="indicator-nt"></span></a><span class="text-white">{{ notification|length }}</span>
                                        <div role="menu"
                                             class="notification-author dropdown-menu animated zoomIn">
                                            <div class="notification-single-top">
                                                <h1>Notifications</h1>
                                            </div>
                                            <ul >
                                                {% for notification in notification|slice(0-3) %}
                                                    <br>
                                                    <li>
                                                        <a href="#sectionEvent">

                                                            <div class="notification-content responsive-mg-b-20 p-2 mb-2 ">
                                                                <span class="notification-date">{{ "now"|date('d/m/Y') }}</span>
                                                                <p>{{ notification.title }}</p>
                                                                <p>{{ notification.description }}</p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <br>
                                                {% endfor %}

                                            </ul>
                                            <div class="notification-view">
                                                <a href="#">View All Notification</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </li>
        <!--****************************************************************-->

        <!--***********************************************************************-->

        <li class="ml-xl-3 login"><a href="{{ path('fos_user_security_logout') }}"><span class="border-left pl-xl-4"></span>Log out</a></li>
        <li class="has-children">
            <a href="#">{{ app.user.username }}</a>
            <ul class="dropdown">
                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}"> Modifier </a></li>
                <li><a href="{{ path('participationevent_myEvent', { 'id': app.user.id }) }}">Mes evenements</a></li>
            </ul>
        </li>


    </ul>
    {% else %}

        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a href="{{ path('Liste_Projection') }}">Projections</a></li>
            <li><a href="{{ path('all_sondages') }}">Liste des sondages</a></li>
            <li><a href="{{ path('club_index') }}">Liste des clubs</a></li>
            <li><a href="{{ path('competition_front_index') }}">Liste des compétitions</a></li>

            <li class="ml-xl-3 login"><a href="{{ path('fos_user_security_login') }}"><span class="border-left pl-xl-4"></span>Log In</a></li>

            <li><a href="{{ path('fos_user_registration_register') }} " class="cta"><span class="bg-primary text-white rounded">Register</span></a></li>
            <li class="ml-xl-3 login"><a href="{{ path('event_index') }}"><span class="border-left pl-xl-4"></span>Admin</a></li>

        </ul>
    {% endif %}

                </nav>
            </div>


            <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
                <a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a>
            </div>

        </div>
        <!-- </div> -->

    </header>



{% endblock %}
{% block body %}


    {% if is_granted ('ROLE_USER') %}
        <div class="site-section bg-light" id="sectionEvent">
            <div class="container">

                <div class="row">
                    <div class="col-6">
                        <h2 class="h5 mb-4 text-black">Evènement En cours</h2>
                    </div>
                    <div  class="col-6">
                        <table>

                            <tr>Filtre </tr>
                            <tr><a href="{{ path('topthree') }}">Top 3 </a></tr>
                            <tr><a href="{{ path('gratuit') }}"> Gratuit </a></tr>

                        </table>

                    </div>
                </div>


                <div class="row" >

                    {% for event in events %}
                    {% set difference = date(event.date).diff(date("now")) %}
                    {% set leftDays = difference.invert %}
                    {% if leftDays == 0 %}

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30 p-3 mb-2 bg-white text-dark ">
                                <div style=" background-image: url('{{ asset('_frontAssets') }}/images/closed.png');" class="panel-body custom-panel-jw">
                                    <br> <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                                    <h1 class="p-3 mb-2   text-primary rounded" align="center" class="category">{{ event.titre }}</h1>
                                    <h2 class="all-pro-ad text-primary" >{{ event.getCategorieevent().getNom() }}</h2>
                                    <p class="all-pro-ad small text-primary">{{ event.description }}</p>

                                    <p class="all-pro-ad text-primary">{{ event.lieu }} : {% if event.date %}{{ event.date|date('d-m-Y') }}{% endif %} à {% if event.heure %}{{ event.heure|date('H:i') }}{% endif %}</p>

                                    {% if event.prix==0 %}
                                        <p class="all-pro-ad text-primary">Gratuit</p>
                                     {% else %}
                                         <p class="all-pro-ad text-primary">Ticket {{ event.prix }} DT</p>
                                    {% endif %}

                                </div>

                            </div>

                        </div>

                    {% else %}

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30 p-3 mb-2 bg-white text-dark ">
                                <div style=" background-image: url('{{ asset('_frontAssets') }}/images/{{ event.getCategorieevent().getImg() }}');" class="panel-body custom-panel-jw">
                                    <br> <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                                    <h1 class="p-3 mb-2   text-primary rounded" align="center" class="category">{{ event.titre }}</h1>
                                    <h2 class="all-pro-ad text-primary" >{{ event.getCategorieevent().getNom() }}</h2>
                                    <p class="all-pro-ad small text-primary">{{ event.description }}</p>

                                    <p class="all-pro-ad text-primary">{{ event.lieu }} : {% if event.date %}{{ event.date|date('d-m-Y') }}{% endif %} à {% if event.heure %}{{ event.heure|date('H:i') }}{% endif %}</p>

                                    {% if event.prix==0 %}
                                        <p class="all-pro-ad text-primary">Gratuit</p>
                                    {% else %}
                                        <p class="all-pro-ad text-primary">Ticket {{ event.prix }} DT</p>
                                    {% endif %}

                                    {% if event.getLimiteEMax() <= event.nbrpart %}
                                        <a class="btn btn-warning btn-lg btn-block">Complet</a>
                                    {% else %}
                                        <a class="btn btn-outline-primary btn-lg btn-block " href="{{ path('participationevent_new', { 'id': event.id , 'user': app.user.id}) }}">Participer</a>
                                    {% endif %}

                                </div>

                            </div>

                        </div>

                    {% endif %}
                    {% endfor %}
                   <!--****************************start notificationBundle***************-->


                    <!--****************************end notificationBundle***************-->

                    <!--******************************************-->

                    <!--*********************************************-->



                </div>
            </div>
        </div>


{% else %}
        <div class="site-section bg-light" id="sectionEvent">
            <div class="container">

                <div class="row">
                    <div class="col-6">
                        <h2 class="h5 mb-4 text-black">Evènement En cours</h2>
                    </div>
                    <div  class="col-6">
                        <table>

                            <tr>Filtre </tr>
                            <tr><a href="{{ path('fos_user_security_login') }}">Top 3 </a></tr>
                            <tr><a href="{{ path('fos_user_security_login') }}"> Gratuit </a></tr>

                        </table>

                    </div>
                </div>


                <div class="row" >

                    {% for event in events %}
                    {% set difference = date(event.date).diff(date("now")) %}
                    {% set leftDays = difference.invert %}
                    {% if leftDays == 0 %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" >
                            <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30 p-3 mb-2 bg-white text-dark ">
                                <div style=" background-image: url('{{ asset('_frontAssets') }}/images/closed.png');" class="panel-body custom-panel-jw">
                                   <br> <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                                    <h1 class="p-3 mb-2   text-primary rounded" align="center" class="category">{{ event.titre }}</h1>
                                    <h2 class="all-pro-ad text-primary" >{{ event.getCategorieevent().getNom() }}</h2>
                                    <p class="all-pro-ad small text-primary">{{ event.description }}</p>
                                    <p class="all-pro-ad text-primary">{{ event.lieu }} : {% if event.date %}{{ event.date|date('d-m-Y') }}{% endif %} à {% if event.heure %}{{ event.heure|date('H:i') }}{% endif %}</p>
                                    {% if event.prix == 0 %}
                                        <p class="all-pro-ad text-primary">Gratuit</p>
                                    {% else %}
                                        <p class="all-pro-ad text-primary">Ticket {{ event.prix }} DT</p>
                                    {% endif %}

                                </div>
                                <a class="btn btn-outline-primary btn-lg btn-block text-primary" href="{{ path('fos_user_security_login') }}">Participer</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" >
                            <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30 p-3 mb-2 bg-white text-dark ">
                                <div style=" background-image: url('{{ asset('_frontAssets') }}/images/{{ event.getCategorieevent().getImg() }}');" class="panel-body custom-panel-jw">
                                    <br> <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                                    <h1 class="p-3 mb-2   text-primary rounded" align="center" class="category">{{ event.titre }}</h1>
                                    <h2 class="all-pro-ad text-primary" >{{ event.getCategorieevent().getNom() }}</h2>
                                    <p class="all-pro-ad small text-primary">{{ event.description }}</p>
                                    <p class="all-pro-ad text-primary">{{ event.lieu }} : {% if event.date %}{{ event.date|date('d-m-Y') }}{% endif %} à {% if event.heure %}{{ event.heure|date('H:i') }}{% endif %}</p>
                                    {% if event.prix == 0 %}
                                        <p class="all-pro-ad text-primary">Gratuit</p>
                                    {% else %}
                                        <p class="all-pro-ad text-primary">Ticket {{ event.prix }} DT</p>
                                    {% endif %}

                                </div>
                                <a class="btn btn-outline-primary btn-lg btn-block text-primary" href="{{ path('fos_user_security_login') }}">Participer</a>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}

                    <!--****************************start notificationBundle***************-->

                    <!--****************************end notificationBundle***************-->

                    <!--******************************************-->

                    <!--*********************************************-->



                </div>
            </div>
        </div>
    {% endif %}






    <script src="{{ asset('_frontAssets') }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery-ui.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/popper.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/bootstrap.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/owl.carousel.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery.stellar.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery.countdown.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/aos.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/rangeslider.min.js"></script>

    <script src="{{ asset('_frontAssets') }}/js/main.js"></script>


















    <!-- jquery
    ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/counterup/jquery.counterup.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/counterup/waypoints.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/metisMenu/metisMenu.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/morrisjs/raphael-min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/morrisjs/morris.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/calendar/moment.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/calendar/fullcalendar.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/tawk-chat.js"></script>






{% endblock %}



           {# <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.titre }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.categorie }}</td>
                <td>{{ event.prix }}</td>
                <td>{% if event.heure %}{{ event.heure|date('H:i:s') }}{% endif %}</td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ event.lieu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
#}




