{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
        <li class="active"><a href="index.html">Home</a></li>
        {#{% for users in users  %}#}
        <li><a href="{#{{ path('user_events', { 'id': users.id }) }}#}">Mes évènements</a></li>
        <li class="has-children">
            <a href="about.html">About</a>
            <ul class="dropdown">
                <li><a href="#">The Company</a></li>
                <li><a href="#">The Leadership</a></li>
                <li><a href="#">Philosophy</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </li>
        <li><a href="blog.html">Blog</a></li>
        <li class="mr-5"><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>

        <li class="ml-xl-3 login"><a href="login.html"><span class="border-left pl-xl-4"></span>{#{{ users.username }}#}</a></li>
        {# {% endfor %}#}
    </ul>
{% else %}

{% endif %}















































<div class="row">
    <div class="header-top-wraper">
        <div class="row">




            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="header-right-info">
                    <ul class="nav navbar-nav mai-top-nav header-right-menu">
                        <li class="nav-item dropdown">

                            <div role="menu"
                                 class="author-message-top dropdown-menu animated zoomIn">


                        <li class="nav-item"><a href="" data-toggle="dropdown" role="button"
                                                aria-expanded="false"
                                                class="nav-link dropdown-toggle"><i
                                        class="educate-icon educate-bell"
                                        aria-hidden="true"></i><span
                                        class="indicator-nt"></span></a>
                            <div role="menu"
                                 class="notification-author dropdown-menu animated zoomIn">
                                <div class="notification-single-top">
                                    <h1>Notifications</h1>
                                </div>
                                <ul >
                                    {% for notification in notification %}
                                        <li>
                                            <a href="#sectionEvent">

                                                <div class="notification-content">
                                                    <span class="notification-date">{{ "now"|date('d/m/Y') }}</span>
                                                    <h2>{{ notification.title }}</h2>
                                                    <p>{{ notification.description }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}

                                </ul>
                                <div class="notification-view">
                                    <a href="#">View All Notification</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
