{% extends 'GestEventBundle:Default:base2.html.twig' %}

{% block init %}
    <header class="site-navbar container bg-dark py-0 " role="banner">

        <!-- <div class="container"> -->
        <div class="row align-items-center ">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo "><a href="{{ path('user_homepage') }}" class="text-light mb-0">Home</a></h1>
            </div>


        </div>
        <!-- </div> -->

    </header>
    <br>
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}

    <div class="site-section bg-light">
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <h2 class="h5 mb-4 text-black">Mes Evènement </h2>
                </div>
            </div>
            <div class="row">


                {% for participationEvents in participationEvents %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30 p-3 mb-2 bg-white text-dark ">
                            <div style=" background-image: url('{{ asset('_frontAssets') }}/images/{{ participationEvents.getEventid.getCategorieevent().getImg() }}');" class="panel-body custom-panel-jw">
                                <br> <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                                <h1 class="p-3 mb-2   text-primary rounded" align="center" class="category">{{ participationEvents.getEventid.titre }}</h1>
                                <h2 class="all-pro-ad text-primary" >{{ participationEvents.getEventid.getCategorieevent().getNom() }}</h2>
                                <p class="all-pro-ad small text-primary">{{ participationEvents.getEventid.description }}</p>
                                <p class="all-pro-ad">Depuis {% if participationEvents.date %} {{ participationEvents.date|date("d/m/Y") }} {% endif %} à {% if participationEvents.heure %}{{ "now"|date("H:i") }}{% endif %}</p>
                                <p class="all-pro-ad">{{ participationEvents.getEventid.lieu }} : {% if participationEvents.getEventid.date %}{{ participationEvents.getEventid.date|date('d-m-Y') }}{% endif %} à {% if participationEvents.getEventid.heure %}{{ participationEvents.getEventid.heure|date('H:i') }}{% endif %}</p>
                                {% if participationEvents.getEventid.prix == 0 %}
                                    <p class="all-pro-ad">Gratuit</p>
                                {% else %}
                                    <p class="all-pro-ad">Ticket {{ participationEvents.getEventid.prix }} DT</p>
                                {% endif %}

                            </div>
                            <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('confirmer', { 'id':  participationEvents.id }) }}">Annulation</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>


    <script src="{{ asset('_frontAssets') }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery-ui.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/popper.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/bootstrap.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/owl.carousel.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery.stellar.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery.countdown.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/aos.js"></script>
    <script src="{{ asset('_frontAssets') }}/js/rangeslider.min.js"></script>

    <script src="{{ asset('_frontAssets') }}/js/main.js"></script>































{% endblock %}




           {# <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.titre }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.categorie }}</td>
                <td>{{ event.prix }}</td>
                <td>{% if event.heure %}{{ event.heure|date('H:i:s') }}{% endif %}</td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ event.lieu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
#}

