{% extends 'MainBundle:Default:base2.html.twig' %} {% block body %}
<div class="site-section surveyPage">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">{{survey.title}}</h2>
                <p class="color-black-opacity-5">{{survey.description}}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            {% for question in survey.questions %}
            <div class="col-8">
                <div class="border p-3 rounded mb-2">
                    <a data-toggle="collapse" href="#collapse-{{question.id}}" role="button" aria-expanded="false" aria-controls="collapse-1" class="accordion-item h5 d-block mb-0">
	              			{{ question.content }}
	              		</a>
                    <div class="collapse " id="collapse-{{question.id}}" style="">
                        <div class="pt-2">
                            {% for answer in question.answers %}
                            <div class="radio">
                                <label>
                                    <input class="radioBtnForJson" 
                                    data-survey="{{survey.id}}"
                                    data-id={{answer.id}} 
                                    data-parent="{{question.id}}" type="radio" name="optradio_{{question.id}}" >
                                    {{answer.content}}
                                </label>
                            </div>

                            <hr> {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
            <br>
            <br>
            <div class="col-8">
                <h2 class="font-weight-light text-primary text-center">Merci de remplir les champs correctement</h2>
                <form action="{{ path('send_sondage_request') }}" method="POST">
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">First Name</label>
                            <input type="text" id="fname" name="fname" class="form-control" required="required">
                        </div>
                        <div class="col-md-12">
                            <label class="text-black" for="lname">Last Name</label>
                            <input type="text" id="lname" name="lname" class="form-control" required="required">
                        </div>
                        <div class="col-md-12">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" required="required">
                        </div>
                        <input type="text" name="survey" value="{{ survey.id }}" style="display:none">
                    </div>
                    <textarea class="final" name="final"></textarea>
                    <div class="col-md-12">
                        <input type="submit" value="Valider le sondage" class="btn btn-primary py-2 px-4 text-white">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}