{% extends 'base.html.twig' %}

{% block body %}
    <h1>Survey</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ survey.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ survey.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ survey.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if survey.createdAt %}{{ survey.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sondage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sondage_edit', { 'id': survey.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
