{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salles list</h1>

    <table>
        <thead>
            <tr>
                <th>Numsalle</th>
                <th>Nomsalle</th>
                <th>Blocsalle</th>
                <th>Nbrechaisesalle</th>
                <th>Categoriesalle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td><a href="{{ path('salle_show', { 'numsalle': salle.numsalle }) }}">{{ salle.numsalle }}</a></td>
                <td>{{ salle.nomSalle }}</td>
                <td>{{ salle.blocSalle }}</td>
                <td>{{ salle.nbreChaiseSalle }}</td>
                <td>{{ salle.categorieSalle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('salle_show', { 'numsalle': salle.numsalle }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('salle_edit', { 'numsalle': salle.numsalle }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salle_new') }}">Create a new salle</a>
        </li>
    </ul>
{% endblock %}
