{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle</h1>

    <table>
        <tbody>
            <tr>
                <th>Numsalle</th>
                <td>{{ salle.numsalle }}</td>
            </tr>
            <tr>
                <th>Nomsalle</th>
                <td>{{ salle.nomSalle }}</td>
            </tr>
            <tr>
                <th>Blocsalle</th>
                <td>{{ salle.blocSalle }}</td>
            </tr>
            <tr>
                <th>Nbrechaisesalle</th>
                <td>{{ salle.nbreChaiseSalle }}</td>
            </tr>
            <tr>
                <th>Categoriesalle</th>
                <td>{{ salle.categorieSalle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('salle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('salle_edit', { 'numsalle': salle.numsalle }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
