{% extends 'MainBundle:Default:base1.html.twig' %}

{% block body %}
    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Ajouter une projection</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="devit-card-custom">
                                                        <html>
                                                        <body><center>
                                                            {{ form_start(forum) }}
                                                         <table>
                                                                <tr><td>Title Projection</td><td>{{ form_widget(forum.titleProjection) }}</td></tr>

                                                                <tr><td>Description Projection</td><td>{{ form_widget(forum.descriptionProjection) }}</td></tr>
                                                                <tr><td>Categorie Projection</td><td>{{ form_widget(forum.categorieProjection) }}</td></tr>
                                                                <tr><td>Duree Projection</td><td>{{ form_widget(forum.dureeProjection) }}</td></tr>
                                                                <tr><td>Date Projection</td><td>{{ form_widget(forum.dateProjection) }}</td></tr>
                                                                <tr><td>Prix Projection</td><td>{{ form_widget(forum.prixProjection) }}</td></tr>



                                                            </table>

                                                            {{ form_end(forum) }}
                                                        </center>
                                                        </body>

                                                        </html>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
