{% extends 'MainBundle:Default:base2.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"/>
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/countdown/styles.css"/>
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/countdown/jquery.countdown.css"/>
    <style>
        img {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            margin: 0 auto;
            display: block;
            border: none;
            /*max-height: 100%;*/
            max-width: 100%;
        }
    </style>
{% endblock %}
{% block header_menu %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">
            <b>Félicitation ! </b>{{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% if demande and demande.status <= 2 %}
                            <div class="col-md-4 text-center">
                                <h4 class="font-size-regular text-black" style="margin-bottom: 20px;">{{ competition.nameCompetition }}</h4>
                                <div style="background-color: #e9e9e975;width: 100%;height: 276px;overflow: hidden;border-radius: 5px; padding: 15px;">
                                    <img src="{{ asset('uploads') }}/{{ competition.media.path }}" alt="Image"
                                         class="img-fluid rounded">
                                </div>
                                <p class="text-secondary" style="margin-top: 15px;margin-bottom:0px;">Organiser par
                                    <a href="{{ path('club_details', { 'id': competition.club.id }) }}">{{ competition.club.nameClub }}</a>
                                </p>
                            </div>
                        {% else %}
                            <div class="col-md-4 text-center">
                                <h4 class="font-size-regular text-black ">{{ competition.nameCompetition }}</h4>
                                <p style="margin-top: 20px;margin-bottom: 0px;">
                                    <a class="btn btn-success btn-lg btn-block"
                                       style="border-top-left-radius: 5px;border-top-right-radius: 5px;"
                                       href="{{ path('competition_front_participer', { 'id': competition.id }) }}">Participer</a>
                                </p>
                                <div style="background-color: #e9e9e975;width: 100%;height: 228px;overflow: hidden;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px; padding: 15px;">
                                    <img src="{{ asset('uploads') }}/{{ competition.media.path }}" alt="Image"
                                         class="img-fluid rounded">
                                </div>
                                <p class="text-secondary" style="margin-top: 15px;margin-bottom:0px;">Organiser par
                                    <a href="{{ path('club_details', { 'id': competition.club.id }) }}">{{ competition.club.nameClub }}</a>
                                </p>
                            </div>
                        {% endif %}
                        <div class="col-md-4 text-center">
                            <h6 class="h5 mb-4 text-black">Information complémentaire</h6>
                            <table class=""
                                   style="width: 100%;margin-top:15px; background-color: #00ced12e;border-radius: 5px;">
                                <tr style="border-bottom: 2px solid whitesmoke;height: 40px;">
                                    <td style="text-align: right">
                                        <span class="icon icon-room pull-left"
                                              style="vertical-align: middle;font-size: 24px;margin-right: 0px;"></span>
                                    </td>
                                    <td>
                                        {{ competition.placeCompetition }}
                                    </td>
                                </tr>
                                <tr style="height: 40px;">
                                    <td style=" text-align: right">
                                        <span class="icon icon-phone pull-left"
                                              style="vertical-align: middle;font-size: 24px;margin-right: 3px;"></span>
                                    </td>
                                    <td>
                                        {{ competition.contactCompetition }}
                                    </td>
                                </tr>
                            </table>
                            <table class="" style="width: 100%;margin-top: 15px;">
                                <tr>
                                    <td><p class="text-secondary" style="margin-bottom: 0px;">Date d'ouverture</p>
                                        <b>{{ competition.startDateCompetition|date('Y-m-d')}}</b><br><b>{{ competition.startDateCompetition|date('H:i:s') }}</b>
                                    </td>
                                    <td><p class="text-secondary" style="margin-bottom: 0px;">Date de fermeture</p>
                                        <b>{{ competition.endDateCompetition|date('Y-m-d') }} </b><br><b>{{ competition.endDateCompetition|date('H:i:s') }}</b>
                                    </td>
                                </tr>
                            </table>
                            <p class="text-muted" style="margin-top: 1rem;">
                                {% if demande and demande.status <= 2 %}
                                    Temps restant à l'ouverture de competition :
                                {% else %}
                                    Pour participer à cette compétition il vous reste :
                                {% endif %}
                            </p>
                            <div id="countdown">
                            </div>
                            <p id="note"></p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h4 class="h5 mb-4 text-black">Description et Conditions</h4>
                            <div style="width: 100%;border-radius: 5px;height: 276px;background-color: #e9e9e975;overflow: auto;">
                                <p class="">
                                    {{ competition.descriptionCompetition|raw }}</p>
                            </div>
                            {% if demande%}
                                {% if demande.status == 0 %}
                                    <p class="text-secondary" style="margin-top: 15px;margin-bottom:0px;">Votre participation est:&nbsp;
                                        <b class="text-info">En attente de confirmation</b>
                                    </p>
                                {% elseif demande.status == 1 %}
                                    <p class="text-secondary" style="margin-top: 15px;margin-bottom:0px;">Votre participation est:&nbsp;
                                    <b class="text-success">confirmée</b>
                                    </p>
                                {% elseif demande.status == 2 %}
                                    <p class="text-secondary" style="margin-top: 15px;margin-bottom:0px;">Votre participation est:&nbsp;
                                        <b class="text-danger">Refusée</b>
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ asset('_frontAssets') }}/js/countdown/jquery.countdown.js"></script>
    <script>
        $(document).ready(function () {
            // countdown configuration
            var countdownelement = $('#countdown');
            var noteelement = $('#note');
            var value = {{ competition.getCountdown() }};

            // The new year is here! Count towards something else.
            // Notice the *1000 at the end - time must be in milliseconds
            ts = (new Date()).getTime() + value;

            countdownelement.countdown({
                timestamp: ts,
                callback: function (days, hours, minutes, seconds) {

                    var message = "";

                    message += days + " day" + (days == 1 ? '' : 's') + ", ";
                    message += hours + " hour" + (hours == 1 ? '' : 's') + ", ";
                    message += minutes + " minute" + (minutes == 1 ? '' : 's') + " and ";
                    message += seconds + " second" + (seconds == 1 ? '' : 's') + " <br />";


                    message += "left to 10 days from now!";


                    noteelement.html(message);
                }
            });
            //cacher message succé aprés un delai
            $(".alert-success").delay(3000).fadeTo("slow", 0.6);
        });
    </script>
{% endblock %}