{% extends 'MainBundle:Default:base2.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"/>
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/countdown/styles.css"/>
    <link rel="stylesheet" href="{{ asset('_frontAssets') }}/css/countdown/jquery.countdown.css"/>
{% endblock %}
{% block body %}

    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">Compétitions 2019</h2>
                    <p class="color-black-opacity-5">Voir nos nouvelles avec des mises à jour quotidiennes</p>
                </div>
            </div>
            <div class="row mb-3 align-items-stretch">
                {% for competition in competitions %}
                    {% if "now"|date('Y-m-d H:i:s') < competition.startDateCompetition|date('Y-m-d H:i:s') %}
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="h-entry">
                                <a href="{{ path('competition_front_details', { 'id': competition.id }) }}"
                                   class="text-black"><img src="{{ asset("uploads") }}/{{ competition.media.path }}"
                                                           alt="Image"
                                                           class="img-fluid rounded"></a>
                                <h2 class="font-size-regular"><a
                                            href="{{ path('competition_front_details', { 'id': competition.id }) }}"
                                            class="text-black">{{ competition.nameCompetition }}</a>
                                </h2>
                                <div class="meta mb-3">Organiser par <a
                                            href="{{ path('club_details', { 'id': competition.club.id }) }}">{{ competition.club.nameClub }}</a><span
                                            class="mx-1"><br>• Publier</span> {{ "now"|date('Y-m-d') == competition.insertat|date('Y-m-d') ? "aujourd'hui" : "le " ~ competition.insertat|date('Y-m-d') }}
                                    <span class="mx-1">•</span></div>
                                <div class="meta mb-3"><a
                                            href="{{ path('competition_front_details', { 'id': competition.id }) }}">Plus
                                        d'info...</a></div>
                                <div class="meta mb-3">
                                    <div id="countdown" class="countdown{{ competition.id }}">
                                    </div>
                                    <p id="note" class="note{{ competition.id }}"></p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="h-entry">
                                <img src="{{ asset('_frontAssets') }}/images/closed.png"
                                     style="position: absolute;margin-left: -25px;max-width: 100%;">
                                <img src="{{ asset("uploads") }}/{{ competition.media.path }}"
                                     alt="Image"
                                     class="img-fluid rounded">
                                <h2 class="font-size-regular text-black">{{ competition.nameCompetition }}
                                </h2>
                                <div class="meta mb-3">Organiser par <a
                                            href="{{ path('club_details', { 'id': competition.club.id }) }}">{{ competition.club.nameClub }}</a><span
                                            class="mx-1"><br>• Publier</span> {{ "now"|date('Y-m-d') == competition.insertat|date('Y-m-d') ? "aujourd'hui" : "le " ~ competition.insertat|date('Y-m-d') }}
                                    <span class="mx-1">•</span></div>
                                <div class="meta mb-3">
                                    <div id="countdown" class="countdown{{ competition.id }}">
                                    </div>
                                    <p id="note" class="note{{ competition.id }}"></p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col-12 text-center mt-4">
                    <a href="#" class="btn btn-primary rounded py-2 px-4 text-white">View All Posts</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ asset('_frontAssets') }}/js/countdown/jquery.countdown.js"></script>
    <script>
        $(document).ready(function () {
            {% for competition in competitions %}
            {% if "now"|date('Y-m-d H:i:s') < competition.startDateCompetition|date('Y-m-d H:i:s') %}
            var countdownelement = $('.countdown' + '{{ competition.id }}');
            var noteelement = $('.note' + '{{ competition.id }}');
            var value = {{ competition.getCountdown() }};

            // The new year is here! Count towards something else.
            // Notice the *1000 at the end - time must be in milliseconds
            ts = (new Date()).getTime() + value;

            countdownelement.countdown({
                timestamp: ts,
                callback: function (days, hours, minutes, seconds) {

                    var message = "";

                    message += days + " day" + (days == 1 ? '' : 's') + ", ";
                    message += hours + " hour" + (hours == 1 ? '' : 's') + ", ";
                    message += minutes + " minute" + (minutes == 1 ? '' : 's') + " and ";
                    message += seconds + " second" + (seconds == 1 ? '' : 's') + " <br />";


                    message += "left to 10 days from now!";


                    noteelement.html(message);
                }
            });
            {% endif %}
            {% endfor %}
        });
    </script>

{% endblock %}