{% extends 'MainBundle:Default:base2.html.twig' %}
{% block css %}
    <style>
        .table{
            border-collapse: unset;
        }

        .table td {
            border: 5px solid #d6d6d6;
        }

        .division td {
            border: 0px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <h3 style="margin-top: 30px">Voucher</h3>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td colspan="2">
                        <div style="margin-bottom: 15px;">
                            <p class="text-black-50" style="margin-bottom: 15px;display: inline;">Booking No</p>&nbsp;&nbsp;<b>{{ voucher.code }}</b>
                        </div>
                        <h3 class="text-primary">{{ voucher.club.nameClub }}</h3>
                        <table class="division">
                            <tr>
                                <td><p class="text-secondary" style="margin-bottom: 0px;">Categorie</p><b>{{ voucher.club.categoryClub }}</b></td>
                                <td><p class="text-secondary" style="margin-bottom: 0px;">Activité</p><b>{{ voucher.club.activityClub }}</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td rowspan="2" class="text-center">
                        <p class="text-secondary">Compte Booking</p>
                        <h4 class="text-primary">{{ voucher.user.getFullname() }}</h4>
                        <p class="text-secondary">{{ voucher.user.email }}</p>
                        <h2 class="text-success" style="margin-top: 50px;"><b>CONFIRMER</b></h2>
                    </td>
                </tr>
                <tr>
                    <td><p class="text-secondary" style="margin-bottom: 0px;">Date Booking</p><b>{{ voucher.insertat|date('Y-m-d H:i:s') }}</b>
                    </td>
                    <td><p class="text-secondary" style="margin-bottom: 0px;">Date D'expiration</p><b
                                class="text-danger">{{ voucher.getDateExpired() }}</b></td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="text-secondary" style="margin-bottom: 0px;">Heure D'ouverture</p><b>{{ voucher.club.openningHoursClub }}</b>
                            </div>
                            <div class="col-md-6">
                                <p class="text-secondary" style="margin-bottom: 0px;">Heure Du Fermeture</p><b>{{ voucher.club.closingHoursClub }}</b>
                            </div>
                        </div>
                    </td>
                    <td><p class="text-secondary" style="margin-bottom: 0px;">Frais De Participation</p>
                            <b>{{ voucher.club.priceClub }}<sup>dt</sup></b>
                    </td>
                    <td rowspan="2" class="text-center">
                        <p class="text-secondary" style="margin-bottom: 10px;">QR-CODE</p>
                        <img src="data:image/png;base64,{{ barcode({code: voucher.code, type: 'datamatrix', format: 'png', width: 10, height: 10, color: [0, 0, 0]}) }}"
                             style="width:100px;"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6 class="text-muted" style="color:#6c757d!important;">* Priére de présenter ce voucher au service d'inscription avant la date
                            d'expiration.</h6>
                        <h6 class="text-muted" style="color:#6c757d!important;">* Inscrivez-vous en tant que membre pour avoir l'accés à nos planning
                            hebdomadaire.</h6>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
