{% extends 'GestEventBundle:Default:base1.html.twig' %}

{% block body %}
    <h1>Categorieevent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieEvent.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorieEvent.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorieevent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorieevent_edit', { 'id': categorieEvent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
