{% extends 'MainBundle:Default:base1.html.twig' %}
{% block body %}
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li><a href="{{ path('club_edit', { 'id': id }) }}">Basic Information</a></li>
                                <li class="active"><a href="{{ path('club_media', { 'id': id }) }}">Gérer des images</a></li>
                            </ul>
                        </div>
                        <div class="sparkline13-hd mg-t-15">
                            <div class="main-sparkline13-hd">
                                <h1>Club <span class="table-project-n">Images</span></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ path('club_upload', { 'id': id }) }}" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Ajouter Une Image</a>
                                <a href="{{ path('club_media_addmulti', { 'id': id }) }}" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Ajouter Plusieurs Images</a>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                       data-show-columns="true" data-show-pagination-switch="true"
                                       data-show-refresh="true" data-key-events="true" data-show-toggle="true"
                                       data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                       data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="name" data-editable="true">Image</th>
                                        <th data-field="email" data-editable="true">Name</th>
                                        <th data-field="phone" data-editable="true">Url</th>
                                        <th data-field="phone1" data-editable="true">Date Insertion</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for image in images %}
                                        <tr>
                                            <td></td>
                                            <td><img src="{{ asset('uploads') }}/{{ image.path }}" alt="" width="80" style=" max-width:80px; max-height:80px;"></td>
                                            <td>{{ image.name }}</td>
                                            <td></td>
                                            <td>{{ image.insertat|date('Y-m-d H:i:s') }}</td>
                                            <td>
                                                <a href="#"
                                                   class="btn btn-custon-four btn-primary"><i
                                                            class="fa fa-fw fa-edit"></i></a>
                                                <a href="{{ path('media_delete', { 'id': image.id }) }}"
                                                   class="btn btn-custon-four btn-danger" onClick="return confirm('Êtes-vous sûr de vouloir supprimer?');"><i
                                                            class="fa fa-fw fa-close"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <!-- data table JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/tableExport.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/data-table-active.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/colResizable-1.5.source.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/data-table/bootstrap-table-export.js"></script>
{% endblock %}