{% extends 'MainBundle:Default:base1.html.twig' %}
{% block css %}
    <!-- dropzone CSS
		============================================ -->
    <link rel="stylesheet" href="{{ asset('_adminAssets') }}/css/dropzone/dropzone.css">
{% endblock %}
{% block body %}
    <div class="multi-uploaded-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropzone-pro mg-tb-30">
                        <div class="sparkline12-hd">
                            <div class="main-sparkline12-hd">
                                <h1>Ajouter Plusieurs Images</h1>
                            </div>
                        </div>
                        <div id="dropzone" class="multi-uploader-cs">
                            <form action="#" id="myDropzone" class="dropzone dropzone-custom needsclick">
                                <div class="dz-message needsclick download-custom">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    <h2>Drop files here or click to upload.</h2>
                                    <p>
                                        <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="alert alert-danger alert-mg-b mg-t-15" role="alert" id="inputError" style="display:none;">
                            Ce champ est <strong>OBLIGATOIRE</strong>.
                        </div>
                        <div class="button-style-four mg-t-15">
                            <button type="button" class="btn btn-custon-four btn-primary" id="upload">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('_adminAssets') }}/js/dropzone/dropzone.js"></script>
    <script>
        Dropzone.options.myDropzone = {
            //url: "",
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: "image/*",
            maxFilesize: 5,
            addRemoveLinks: true,
            //previewTemplate: document.querySelector('#preview').innerHTML,
            dictRemoveFile: 'Remove file',
            dictFileTooBig: 'Image is larger than 5MB',
            init: function () {
                dzClosure = this; // Makes sure that 'this' is understood inside the functions below.
                var data = new FormData();
                var i = 0;
                dzClosure.on("addedfile", function (file, e) {
                    if (file.size < 5000000) {
                        data.append(i, file);
                        i++;
                    }
                });
                document.getElementById("upload").addEventListener("click", function (e) {
                    if (data.get(0) == null) {
                        $("#inputError").show();
                    } else {
                        $("#inputError").hide();
                        $.ajax({
                            type: "POST",
                            contentType: false, // required for upload
                            processData: false, // required for upload
                            enctype: 'multipart/form-data',
                            url: Routing.generate('club_upload_multi', {id: {{ id }} }),
                            data: data,
                            success: function (data) {
                                dzClosure.processQueue();
                                window.location = '{{ path('club_media', { 'id': id }) }}'
                            }
                        });
                    }
                });
                dzClosure.on("removedfile", function (file) {
                    // remove action
                    var datanew = new FormData();
                    var k = i;
                    for (var j = 0; j < i; j++) {
                        if (data.get(j).size == file.size) {
                            k = j;
                            i--;
                        }
                        if (j < k) {
                            datanew.append(j, data.get(j));
                        }
                    }
                    for (j = k; j < i; j++) {
                        datanew.append(j, data.get(j + 1));
                    }
                    data = datanew;
                });
            }
        };
    </script>
{% endblock %}

