{% extends 'base.html.twig' %}

{% block body %}
    <h1>Surveycategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for surveyCategory in surveyCategories %}
            <tr>
                <td><a href="{{ path('surveycategory_show', { 'id': surveyCategory.id }) }}">{{ surveyCategory.id }}</a></td>
                <td>{{ surveyCategory.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('surveycategory_show', { 'id': surveyCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('surveycategory_edit', { 'id': surveyCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('surveycategory_new') }}">Create a new surveyCategory</a>
        </li>
    </ul>
{% endblock %}
