{% extends 'GestEventBundle:Default:base1.html.twig' %}
{% block body %}

    <!-- Mobile Menu end -->
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="{{ path('event_new') }}" class="btn btn-custon-four btn-success"><i
                                            class="fa fa-fw fa-plus"></i>&nbsp;Nouveau
                                    Club</a>
                            </div>

                            <div class="col-md-3">
                                <div class="breadcome-heading">
                                    <form role="search" class="sr-input-func">
                                        <input type="text" placeholder="Search..." class="search-int form-control">
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--*************************************************-->

    <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <div class="row">

                {% for i in 0..10 %}

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
            <div class="panel-body custom-panel-jw">
                <div class="social-media-in">
                    <a href="#"><i class="glyphicon glyphicon-remove"></i></a>
                    <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
                </div>
               <!-- <img alt="logo" class="img-circle m-b" src="{#{{ asset('_adminAssets') }}#}/img/contact/1.jpg">-->
                <h3><a href="">John Alva {{ i }}</a></h3>
                <p class="all-pro-ad">London, LA</p>
            </div>
            <div class="panel-footer contact-footer">
                <div class="professor-stds-int">
                    <div class="professor-stds">
                        <div class="contact-stat"><span>Participants: </span> <br><strong>956</strong></div>
                    </div>
                    <div class="professor-stds">
                        <div class="contact-stat"><span>Comments: </span> <br><strong>350</strong></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
    </div>
    </div>
    </div>
    <!--**************************************************************-->


  {#  {% for event in events %}
        <tr>
            <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
            <td>{{ event.titre }}</td>
            <td>{{ event.description }}</td>
            <td>{{ event.categorie }}</td>
            <td>{{ event.prix }}</td>
            <td>{% if event.heure %}{{ event.heure|date('H:i:s') }}{% endif %}</td>
            <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
            <td>{{ event.lieu }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('event_show', { 'id': event.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
#}
    <!-- jquery
           ============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/metisMenu/metisMenu.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/calendar/moment.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/calendar/fullcalendar.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <script src="{{ asset('_adminAssets') }}/js/tawk-chat.js"></script>

{% endblock %}